:root {
  --before-image: '';
}

.who-we-are-video::before {
  background: var(--before-image);
}

.menu-holder nav .menu-item a:not(.menu-open-button) {
  font-size: 16px;
}

.menu-holder nav {
  height: 100vh;
}

@media (min-width: 960px) {
  .menu-holder nav {
    height: initial;
  }
  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1 {
    display: block;
    left: 0;
    width: 18rem;
    padding: 2rem 1rem;
    height: auto;
  }

  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1:last-child {
    right: 0;
  }

  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1 li a {
    font-weight: 300;
    color: white;
    transition: color 0.2s ease-out;
    text-decoration: none;
    text-align: left;
    text-transform: none;
    font-size: 16px;
    padding: 0 0 5px 0;
  }

  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1 li a:hover {
    color: #0085ca;
  }

  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1:not(#menu_parent_Expertise) {
    min-width: 33rem;
    transition: visibility 0s, opacity 0.2s ease-out;
    position: absolute;
    z-index: 100;
    top: 66px;
    width: 530px;
    width: 33.125rem;
    margin-left: 0px;
    padding-top: 30px;
    padding-top: 1.875rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
    -moz-column-count: 2;
    column-count: 2;
    background-color: #002549;
  }

  .menu-holder nav .menu-level--0 > .menu-item:hover .menu-level--1:not(#menu_parent_Expertise) li {
    display: inline-block;
    width: 100%;
  }

  .splide--view--front-slide--main .splide__navigation {
    max-width: 1200px;
  }
}
